<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>New Pizza</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button  menu="menuhome"></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  
  <ion-text color="primary">
    <h1>let 's add a new pizza</h1>
  </ion-text>

  <ion-card>
    <ion-card-content>
      <form action=" ">


        <ion-label>Pizza Name</ion-label>
        <ion-item>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-label>origin of the pizza </ion-label>
        <ion-item>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-label>add a price </ion-label>
        <ion-item>
          <ion-input type="number" placeholder=""></ion-input>
        </ion-item>

        <ion-label>add a picture  </ion-label>
        <ion-item>
          <ion-button (click)="addPhotoToGallery()" expand="block" fill="clear" shape="round">
            <ion-icon slot="start" name="camera"></ion-icon>          </ion-button>
        </ion-item>

        





      </form>
    </ion-card-content>
  </ion-card> -->

 

  
  <ion-label id="slidePrev"  >
    <ion-icon name="caret-back-circle" (click)="swipePrev()"></ion-icon>
  </ion-label>

<ion-slides mode="ios" pager="true" id="slides"  scrollbar="ios"  [options]="slideOpts" #mySlider>
  <ion-slide class="ion-padding-bottom" *ngFor="let slide of template" >
    <!-- <h1>Awesome Slide Content</h1> -->

    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col  size-xs="4" size-lg="3" size-md="3" class="ion-text-center" *ngFor="let product of slide.Product">
          <div >
            <div class="card" (click)="onClick()">

              <div  class="ItemImage">
                 <img [src]="product.image" alt="image produit">

              </div>

              <ion-label>
                <ion-text class="ellipsis" >

                  {{product.name}}

                </ion-text>
                
              </ion-label>
              <ion-label  class="Qte"></ion-label>


            </div>



          </div>


        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-slide>
</ion-slides>





  <ion-label id="slideNext">
    <ion-icon name="caret-forward-circle" (click)="swipeNext()"></ion-icon>
  </ion-label>






</ion-content>