






 #slideNext{
    position: absolute;
    top: 10%;
    transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    z-index: 2;
    right: 15px;
    cursor: pointer;
    ion-icon{
        color: #666666;
        font-size: xx-large;
        
}


}


#slidePrev{
    position: absolute;
    top: 10%;
    transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    z-index: 2;
    left:1px;
    cursor: pointer;
    ion-icon{
        color: #666666;
        font-size: xx-large;
        
    }
}


 

        



