<ion-app>

  <ion-split-pane contentId="menu">
      <ion-menu contentId="menu" menuId="menuhome" side="start" type="push">
        <ion-header>
          <ion-toolbar color="favorite">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>



        <ion-content>
          <ion-menu-toggle>
            <ion-item>
             
              <h1> Welcome {{user.username}}</h1>
            </ion-item>
          </ion-menu-toggle>

          
          <ion-menu-toggle>
            <ion-item routerLink="home">
              <ion-avatar slot="start">
                <img src="assets/image/pizzalogo.png" />
              </ion-avatar>
              <ion-label>See our pizzas</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="menu-cart">
              <ion-avatar slot="start">
                <img src="assets/image/logo.jpeg" />
              </ion-avatar>
              <ion-label>Visit the menu-cart</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="commands">
              <ion-avatar slot="start">
                <img src="assets/image/commands.jpeg" />
              </ion-avatar>
              <ion-label>see your commands here</ion-label>
            </ion-item>
          </ion-menu-toggle>
<!-- 
          <ion-menu-toggle>
            <ion-item routerLink="connection">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>sign in </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-menu-toggle>
            <ion-item routerLink="gallery-photo">
              <ion-avatar slot="start">
                <img src="assets/image/gallery.png" />
              </ion-avatar>
              <ion-label>Go to your Gallery of pizzas </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="add-pizza">
              <ion-icon slot="start" name="add-circle"></ion-icon>
              <ion-label>New pizza </ion-label>
            </ion-item>
          </ion-menu-toggle>  

        </ion-content>

        <ion-footer  color="favorite">
          <ion-label  (click)="signOut()">
            <ion-text>Sign out</ion-text>
            <ion-icon slot="end" name="log-out-outline"></ion-icon>
          </ion-label>
        </ion-footer>

      </ion-menu>

     
      
      <ion-router-outlet id="menu"> </ion-router-outlet>

  </ion-split-pane>

 


 
</ion-app>



 <!-- <div class="toolbar">

    <img src="assets/icon/favicon.png" alt="angular logo">
    <span> Angular Tutorials </span>
    <div class="spacer"></div>
    
  </div>

  <div class="header"> {{title}} </div>
  

  <div class="content">

    <button [ngStyle]="{'font-size.px': 20, 'font-style': 'italic', 'color': 'red'}"> 
     ngstyle option 2
    </button>

    <button [ngStyle]="addStyle()"> ngstyle option1

    </button>

    <br> <br> <br>

    <button [ngClass]="['btn-bold', 'btn-italic', 'btn-red']">ngClass Array</button>
    <button [ngClass]="{'btn-bold': true, 'btn-italic': false, 'btn-blue':false}">ngClass object</button>
    <button [ngClass]="addClass()">ngclass function</button>


  </div>
 -->
