


ion-text{

    text-align: center;
    font-size:medium;
    font-weight:bold;
    margin-top: -6px;
   

}

div{

  background-color: rgba(67, 233, 233, 0.713);
  font-size: medium;  
  font-weight: bold;
}


.image{
    margin-left: -9px;
    margin-bottom: -38px;
    height: 150px;
    width: 150px;
    
}


ion-grid{
    --ion-grid-width-sm: 288px;
  

}

.menuheader{
    background-color: darkblue;
    color: aliceblue;
}





