<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="center" slot="fixed">

    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-length">{{cartItemCount | async}}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>

    </ion-fab-button>

  </ion-fab>

  <ion-list >
    <ion-card *ngFor="let p of products">

      <ion-card-header>
        <ion-card-subtitle [ngStyle]="{'color': getColor(p.country),'font-size':'20px'}">{{p.name}} {{p.country}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="secondary">
              <b>{{p.price | currency: 'USD'}}</b>

            </ion-label>
          </ion-col>

          <ion-col size="4" class="ion-text-right">
            <ion-button (click)="addToCart(p)" fill="clear">
              <ion-icon name="add"></ion-icon>
            </ion-button>

          </ion-col>



        </ion-row>




      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>